node_modules
dist
build/main
build/renderer

.vscode
.idea
.vs
*.suo
*.ntvs*
*.njsproj
*.csproj.user

packages/
bin/
obj/

*.pubxml
*.user

api_dist/
release/dist
release/output
release/data/downloads

__pycache__/
*.py[cod]
.sass-cache/
*.spec
src/api/.venv/*
src/api/build/
src/api/Pipfile.lock
*.log