[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
flask-cors = "*"
pyinstaller = "*"
flask = "*"
numpy = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"
