// Include any default variable overrides here (though functions won't be available)
$dark: #123c69;
$primary: #0068C1;

@import "node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

#content-window {
	height: 100vh;
	overflow-y: hidden;
}

#inner-content-window {
	overflow-y: auto;
}

table.table-min-width-th th, th.min, table.nowrap-headers th {
	width: 1%;
	white-space: nowrap;
}

// SWAT Check
table.instream td {
	width: 1%;
	white-space: nowrap;
	text-align: right;	
}

table.instream th {
	width: 85%;
}

.picture-holder {
	background: no-repeat 0 0;
	font-size: 0.8em;
	line-height: 1.4em;
	margin: 0 auto;
	position: relative;
}

.picture-holder span {
	background: #fff;
	font-weight: bold;
	padding: 0 2px;
	position: absolute;
	text-align: center;
}

#hydrology {
	background-image: url(/swat-check/hydro.png);
	height: 491px;
	width: 650px;
}

#hydrology #et {
	top: 65px;
	left: 130px;
}

#hydrology #etPlant {
	top: 95px;
	left: 0;
	width: 50px;
}

#hydrology #etSoil {
	top: 145px;
	left: 0;
	width: 50px;
}

#hydrology #pet {
	top: 45px;
	left: 0px;
	width: 50px;
}

#hydrology #precip {
	top: 110px;
	left: 410px;
}

#hydrology #irrigation {
	top: 100px;
	left: 480px;
	width: 150px;
}

#hydrology #tile {
	top: 150px;
	left: 480px;
	width: 150px;
}

#hydrology #cn {
	top: 50px;
	left: 480px;
	width: 150px;
}

#hydrology #surfacerunoff {
	top: 275px;
	left: 545px;
}

#hydrology #lateralflow {
	top: 315px;
	left: 450px;
}

#hydrology #returnflow {
	top: 355px;
	left: 480px;
}

#hydrology #perc {
	top: 350px;
	left: 320px;
}

#hydrology #revap {
	top: 350px;
	left: 150px;
}

#hydrology #recharge {
	top: 445px;
	left: 320px;
}

#hydrology #hydrology-units {
	bottom: 5px;
	right: 5px;
}

#sediment {
	background-image: url(/swat-check/WatershedDisplay.jpg);
	height: 396px;
	width: 628px;
}

#sediment #maxupland {
	top: 25px;
	left: 400px;
}

#sediment #surfacerunoffsed {
	top: 70px;
	left: 150px;
}

#sediment #avgupland {
	top: 130px;
	left: 30px;
}

#sediment #inletsed {
	top: 220px;
	left: 125px;
}

#sediment #instreamsed {
	top: 220px;
	left: 370px;
}

#ncycle {
	background-image: url(/swat-check/NCycle.png);
	height: 362px;
	width: 800px;
}

#ncycle #initno3 {
	top: 5px;
	left: 5px;
}

#ncycle #volatilization {
	top: 115px;
	left: 70px;
}

#ncycle #nfix {
	top: 77px;
	left: 242px;
}

#ncycle #denit {
	top: 115px;
	left: 275px;
}

#ncycle #inorgnh4 {
	top: 160px;
	left: 85px;
}

#ncycle #inorgno3 {
	top: 146px;
	left: 317px;
}

#ncycle #nplantuptake {
	top: 200px;
	left: 240px;
}

#ncycle #nitrification {
	top: 240px;
	left: 115px;
}

#ncycle #nmineralization {
	top: 240px;
	left: 300px;
}

#ncycle #totaln {
	top: 320px;
	left: 30px;
}

#ncycle #initorgn {
	top: 5px;
	left: 405px;
}

#ncycle #orgn {
	top: 135px;
	left: 445px;
}

#ncycle #activetostable {
	top: 225px;
	left: 520px;
}

#ncycle #nresidue {
	top: 315px;
	left: 660px;
}

#ncycle #ncycle-units {
	top: 5px;
	right: 5px;
}

#pcycle {
	background-image: url(/swat-check/PCycle.png);
	height: 362px;
	width: 800px;
}

#pcycle #minp {
	top: 5px;
	left: 5px;
}

#pcycle #orgp {
	top: 5px;
	left: 405px;
}

#pcycle #totalp {
	top: 65px;
	left: 30px;
}

#pcycle #inorgp {
	top: 110px;
	left: 305px;
}

#pcycle #pplantuptake {
	top: 150px;
	left: 215px;
}

#pcycle #pstableactive {
	top: 220px;
	left: 90px;
}

#pcycle #pactivesol {
	top: 220px;
	left: 205px;
}

#pcycle #pmineralization {
	top: 255px;
	left: 340px;
}

#pcycle #orgpfert {
	top: 180px;
	left: 480px;
}

#pcycle #presidue {
	top: 315px;
	left: 660px;
}

#pcycle #pcycle-units {
	top: 5px;
	right: 5px;
}

#plantgrowth {
	background-image: url(/swat-check/plant.png);
	height: 458px;
	width: 450px;
}

#plantgrowth span {
	text-align: right;
}

#plantgrowth #plantavg {
	top: 5px;
	left: 5px;
}

#plantgrowth #npremoved {
	top: 50px;
	left: 230px;
}

#plantgrowth #totalnp {
	top: 220px;
	left: 270px;
}

#plantgrowth #plantuptakenp {
	bottom: 10px;
	left: 260px;
}